UI Design
UI Design/*
.hgignore
app/themes/default/fonts/Originals
app/themes/default/css
app/.settings

app/assets
developer/api/html
error_log
protected/data
protected/runtime
redbean
yii

app/protected/tests/unit/timeit.dat
app/protected/tests/unit/results.txt
glob:testresults/functional/
app/protected/tests/unit/update
glob:demodata.sql
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.core.resources.prefs
app/protected/config/perInstance.php
app/protected/config/debug.php
app/protected/config/perInstanceTest.php
app/protected/config/debugTest.php
app/report

