/* entire container, keeps perspective
.flip-container {
	-webkit-perspective: 1000;
}*/
/* flip the pane when hovered
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
	height: 100%;
}
*/
/* flip speed goes here
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	position: relative;
}*/

/* hide back of pane during swap
.front, .back {
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
} */

/* front pane, placed above back
.front {
	z-index: 2;
}*/

/* back, initially hidden pane
.back {
	-webkit-transform: rotateY(180deg);
}
*/





.sliding-panels-container{
	//overflow: hidden;
}
.sliding-panel{
	/*width: 100%;
	display: block;
	float: left;
	border: 1px solid red;
	position: absolute;
	++.box-sizing;
	z-index: 0;
	+ .sliding-panel{
		left: 100%;
	}*/
	//-webkit-transform:scale(0, 0);
	display: none;
	width: 100%;
	border: 1px solid red;
	.box-sizing();
	position: relative;
}

div.showing-panel{
	//-webkit-transform:scale(1, 1);
	display: block;
}

.business-card{
	//padding-right: 50px;
	position: relative;
	.gravatar{
		margin-right: 12px;
	}
	h2{
		line-height: 100%;
		padding-bottom: 15px;
		.salutation{
			font-weight: normal;
			font-size: 80%;
			margin-right: 5px;
		}
	}
	h3.position{
		line-height: 140%;
		font-weight: normal;
		color: #545454 !important;
	}
	h4{
		color: #545454 !important;
		line-height: 150%;
		margin-bottom: 15px;
		font-size: 14px;
	}
	.contact-details{
		clear: left;
		color: #111;
		font-size: 14px;
		color: #666;
		margin-bottom: 7px;
		margin-top: 10px;
		> a{
			margin-top: 5px;
			margin-right: 20px;
			color: #333;
		}
		> a:before{
			//content: "·";
			//padding: 10px;
		}
		> a:first-child:before{
			//display: none;
		}
	}
	.address{
		margin-bottom: 15px;
	}
	.icon-landline{
		&:before{
			content:"W";
			.symbly(20px);
			padding-right: 3px;
			color: #111;
		}
	}
	.icon-mobile-phone{
		&:before{
			content:'\2018';
			.symbly(21px);
			padding-right: 3px;
			color: #111;
		}
	}
	.icon-email{
		&:before{
			content:"g";
			.symbly(18px);
			padding-right: 5px;
			color: #111;
		}
	}
	.icon-map{
		&:before{
			content:"L";
			.symbly(20px);
			padding-right: 3px;
			color: #111;
		}
	}
	.demographic-details{
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		.sex{
			width: 30px;
			height: 62px;
			display: block;
			text-indent: -9999px;
			text-align: left;
			margin-top: 0;
			line-height: 1;
		}
		.male{
			background: url(../images/people.png) right top no-repeat;
		}
		span{
			margin-top: 13px;
			font-weight: bold;
			display: block;
			float: right;
			line-height: 150%;
		}
	}
}

#_business-card-buttons{
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	a{
		display: block;
		width: 50px;
		height: 50px;
		font-size: 10px;
		font-weight: bold;
		i{
			display: block;
			font-style: normal;
			.symbly(45px);
			line-height: 1;
			color: #ccc;
		}
		span{
			display: none;
		}
	}
}

.icon-demographic{
}

.icon-household{

}

.icon-interest{

}

.icon-purchase{

}

#business-card-buttons{
	display: none !important;
	//position: absolute;
	//right: 10px;
	//top: 10px;
	display: inline-block;
	.smaller();
	> div{
		display: inline-block;
		border:1px solid #b7b7b7;
		border-top-color: #e7e7e7;
		border-left-color:#d7d7d7;
		border-right-color:#d7d7d7;
		border-radius:4px;
		background:url(../images/view-toolbar-gradient-darker.png) left bottom repeat-x;
		++.border-box;
		.b-shadow(~"inset 0 0 1px 1px #efefef, 0 0 9px 5px rgba(153, 153, 153, 0.12)");
	}
	a{
		text-align: center;
		width: auto;
		++.border-box;
		//font-weight: 700;
		position:relative;
		border-left: 1px solid #bababa;
		//color:#545454;
		text-shadow:#fff 0 1px 0;
		margin: 0;
		padding:0 6px;
		//line-height:20px;
		display:inline-block;
		border-left:1px solid #bababa;
		&:first-child{
			border-left: none;
		}
		span{
			font-size: 10px;
			font-weight: bold;
			display: none;
		}
		i{
			font-style: normal;
			.symbly(22px);
			line-height: 1;
			color: #656565;
		}
	}
	&.center-top{
		position: absolute;
		top: -1px;
		left: 50%;
		margin-left: -72px;
		strong{
			margin-right: 4px;
		}
		> div{
			.radius(0 0 4px 4px);
		}
	}
	&.top-right{
		position: absolute;
		right: 12px;
		top: 16px;

		a, strong{
			display: block;
		}
		strong{
			margin-bottom: 3px;
			font-size: 10px;
			text-align: right;
		}
		a{
			border-left: none;
			border-top: 1px solid #bababa;
			&:first-child{
				border-top: none;
			}
			&:hover span{
				float: left;
				position: absolute;
				right: 32px;
				top: 5px;
				display: block;
			}
		}
	}
	.active{
		color: #97c43d;
		.t-shadow(0 0 1px lighten(#97c43d, 25%));
		i{
			color: #97c43d;
		}
	}
}

.social-icon{
	width: 22px;
	height: 22px;
	display: inline-block;
	text-indent: -9999px;
	margin-right: 4px;
	&:hover{
		.radius(3px);
		.b-shadow(0 0 7px 0 #999);
	}
}

.icon-twitter{ background: url(../images/social-icons/twitter.png) center center no-repeat }
.icon-facebook{ background: url(../images/social-icons/facebook.png) left top no-repeat; }
.icon-linkedin{ background: url(../images/social-icons/linkedin.png) left top no-repeat; }


.rapleaf-data{
	display: none;
	h3{
		margin-bottom: 10px;
		margin-top: 30px;
	}
	ul{
		list-style: none;
	}
	li{
		font-weight: bold;
		margin-bottom: 3px;
		color: #666;
	}
	li span{
		font-weight: normal;
		margin-left: 5px;
		border: 1px solid #ccc;
		background: #eaeaea;
		.radius(3px);
		padding:2px 4px;
		.smaller();
		color: #323232;
	}
	.complex-data{
		li{
			line-height: 200%;
			width: 33.3%;
			float: left;
		}
	}
	.simple-data{
		li{
			float: left;
			width: auto;
			margin-bottom: 7px;
		}
		span{
			margin: 0 5px 0 0;
		}
	}
	.half{
		float: left;
		width: 49%;
		+ .half{
			margin-left: 2%;
		}
	}
}

.special-pager{
	.next span{
		text-indent: 0 !important;
		.smaller();
		padding: 5px 0 5px 0 !important;
	}
	.next a:after,
	.hidden.next:after{
		display: none !important;
	}
}