@media screen and (min-width: 1601px) {
    .AppContainer{
        margin:0 auto !important;
    }
    #HeaderLinksView > div {
        margin: 0 !important;
    }
    #app-search {
        margin-left:0 !important;
    }
    #ShortcutsMenu{
        position: relative !important;
        top:-25px !important;
        right:0 !important;
    }
}