/*Target only Mozilla/Gecko Browsers*/
@-moz-document url-prefix() {
    body{
         font-smooth:always !important;
    }
	.form{
	    input[type="text"],
	    input[type="password"]
	    //select.multiple,
	    {
	        height:26px;
	    }
	}
	input[type="submit"],
	input[type="button"]{
		height:26px;
	}
    input::-moz-focus-inner {
        border: 0;
    }
}