/*List of object we can't get to through php to add class="clearfix"*/



#search-form:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}






#search-form{
	height:1%;
	zoom: 1;
}










*:first-child + html #search-form{
	min-height: 1px;
	zoom: 1;
}



