.back-to-app-menu-item span{
	vertical-align:middle;
	color:@themeColor !important;
	&:before{
		content:"z";
		.symbly(21px);
		margin-right:6px;
	}
}

//.AdministrativeArea{
#ConfigurationPageView, #DesignerPageView{
		table{
			border: 1px solid #DFDFDF;
			border-collapse: collapse;
			border-spacing: 1px;
			width:100%;
		}
		
		table th,
		table td{
			border: 1px solid #DFDFDF;
			vertical-align:middle;
			padding:10px;
		}
		
		
		table tbody,
		table tbody tr:last-child,
		table tbody tr:last-child td{
			border-bottom: none;
		}
		
		table thead tr th:last-child,
		table tbody tr td:last-child{
			//padding-right:15px;
		}
		
		table th{
			font-weight:bold !important;
			height:35px;
			line-height: 35px;
			background: url(../images/table-items-header.png) left top repeat-x;
			padding:0 0 0 10px !important;
		}
		.checkbox-column{
			width:35px;
			text-align:center;
		}
		.button-column{
			width:25px;
			text-align:center;
			vertical-align:top !important;
		}
		tr.odd{
			
		}
		tr.even{
			background:#fafafa;	
		}
		table tr:hover{
			background-color:#D4E7BC;
			color:@themeColor;
			.pencil{
				visibility:visible;
				color:@themeColor;
			}
		}
		table thead{
			#gradient > .vertical(#f9f9f9, #f4f4f4);
		}
		table thead tr:hover{
			#gradient > .vertical(#f9f9f9, #f4f4f4);
		}
}

#ConfigureModulesMenuView{
	ul{
		list-style:none;
		padding:0 0;
		.clearfix();
	}
	li{
		padding:15px 0;
		margin-bottom:0;
		padding-bottom:0;
		border-top:1px solid #ccc;
		border-bottom:1px solid #fff;
		font-size:11px;
		.clearfix();
		float:left;
		width:100%;
		vertical-align:middle;
		&:last-child{
			border-bottom:none;
			margin-bottom:none;
		}
		&:first-child{
			border-top:none;
			margin-top:none;
		}
		h4{
			margin:5px 0 0 18px;
			display:inline-block;
		}
		a{
			.zButton();
			margin:0 15px 13px 15px;
			float:right;
			&:before{
				content: "n";
				.symbly(16px);
				margin-right:5px;
				position:relative;
				top:0px;
			}
		}
	}
}

/*Groups*/
td.level-0{ padding-left:10px !important;}
td.level-1{ padding-left:20px !important;}
td.level-2{ padding-left:30px !important;}
td.level-3{ padding-left:40px !important;}
td.level-4{ padding-left:50px !important;}
td.level-5{ padding-left:60px !important;}
td.level-6{ padding-left:70px !important;}
td.level-7{ padding-left:80px !important;}
td.level-8{ padding-left:90px !important;}
td.level-9{ padding-left:100px !important;}
td.level-10{ padding-left:110px !important;}
td.level-11{ padding-left:120px !important;}
td.level-12{ padding-left:130px !important;}
td.level-13{ padding-left:140px !important;}
td.level-14{ padding-left:150px !important;}
td.level-15{ padding-left:160px !important;}
td.level-16{ padding-left:170px !important;}
td.level-17{ padding-left:180px !important;}
td.level-18{ padding-left:190px !important;}
td.level-19{ padding-left:200px !important;}
td.level-20{ padding-left:210px !important;}

#ActionBarForGroupsEditAndDetailsView{
	.view-toolbar{
		margin-top:0;
	}
}
.AdministrativeArea{
	#edit-form{
		table{
			width:100%;
			float:none;
		}
	}
}

#ModulePermissionsEditAndDetailsView{
	td, th{
		text-align:left;
		padding-right:15px;
	}
}