.tableTreeView(){
    table{
        width: 100%;
        border-bottom:none;
        br{
            display:none;
        }
        tr:last-child{
            td{
                border-bottom:none;
            }
        }
        td, th{
            border-bottom:1px solid #DFDFDF;
            padding:10px !important;
            text-align:left;
        }
        tr td{
            font-weight:normal !important;
            padding-top:10px !important;
            padding-bottom:10px !important;
        }
    }
}


.back-to-app-menu-item span{
    vertical-align:middle;
    color:@themeColor !important;
    &:before{
        content:"z";
        .symbly(21px);
        margin-right:6px;
    }
}

#ConfigurationPageView{
        table{
            border: 1px solid #DFDFDF;
            border-collapse: collapse;
            border-spacing: 1px;
            width:100%;
        }

        table th,
        table td{
            border: 1px solid #DFDFDF;
            vertical-align:middle;
            padding:10px;
        }


        table tbody,
        table tbody tr:last-child,
        table tbody tr:last-child td{
            border-bottom: none;
        }

        table thead tr th:last-child,
        table tbody tr td:last-child{
            //padding-right:15px;
        }

        table th{
            font-weight:bold !important;
            height:35px;
            line-height: 35px;
            background: url(../images/table-items-header.png) left top repeat-x;
            padding:0 0 0 10px !important;
        }
        .checkbox-column{
            width:35px;
            text-align:center;
        }
        .button-column{
            width:25px;
            text-align:center;
            vertical-align:top !important;
        }
        tr.odd{

        }
        tr.even{
            background:#fafafa;
        }
        table tr:hover{
            background-color:#D4E7BC;
            color:@themeColor;
            .pencil{
                visibility:visible;
                color:@themeColor;
            }
        }
        table thead{
            #gradient > .vertical(#f9f9f9, #f4f4f4);
        }
        table thead tr:hover{
            #gradient > .vertical(#f9f9f9, #f4f4f4);
        }
}

.configuration-list{
    list-style:none;
    .clearfix;
    li{
        .clearfix;
        .box-sizing();
        width:100%;
        float:left;
        position: relative;
        margin:0;
        padding:20px 15px;
        border-top:1px solid #ccc;
        border-bottom:1px solid #fff;
        font-size:11px;
        &:last-child{
            border-bottom:none;
            margin-bottom:none;
        }
        &:first-child{
            border-top:none;
            margin-top:none;
        }

        h4{
            margin:0 0 0 0;
            display:inline-block;
        }
        a{
            .zButton();
            float:right;
            position: absolute;
            right:15px;
            top:14px;
            &:before{
                content: "n";
                .symbly(16px);
                margin-right:5px;
                position:relative;
                top:0px;
            }
        }
    }
}

/*Groups*/
/*
td.level-0{ padding-left:10px !important;}
td.level-1{ padding-left:20px !important;}
td.level-2{ padding-left:30px !important;}
td.level-3{ padding-left:40px !important;}
td.level-4{ padding-left:50px !important;}
td.level-5{ padding-left:60px !important;}
td.level-6{ padding-left:70px !important;}
td.level-7{ padding-left:80px !important;}
td.level-8{ padding-left:90px !important;}
td.level-9{ padding-left:100px !important;}
td.level-10{ padding-left:110px !important;}
td.level-11{ padding-left:120px !important;}
td.level-12{ padding-left:130px !important;}
td.level-13{ padding-left:140px !important;}
td.level-14{ padding-left:150px !important;}
td.level-15{ padding-left:160px !important;}
td.level-16{ padding-left:170px !important;}
td.level-17{ padding-left:180px !important;}
td.level-18{ padding-left:190px !important;}
td.level-19{ padding-left:200px !important;}
td.level-20{ padding-left:210px !important;}

#GroupsTreeListView{
    .tableTreeView();
    > div{
        padding-bottom:0 !important;
    }
}
*/

.ActionBarForSecurityTreeListView,
#ActionBarForGroupEditAndDetailsView{
    .view-toolbar{
        margin-top:0;
    }
}
.AdministrativeArea{
    #edit-form{
        table{
            width:100%;
            float:none;
        }
    }
    .view-toolbar{
        margin-top:0;
    }
}

#ModulePermissionsEditAndDetailsView{
    table tr:first-child{
        th{
            padding-left:15px;
            font-weight:bold !important;
            color:@themeColor;
        }
    }
    td{
        text-align:left;
        padding-left:15px;
    }
    th{
        text-align:left;
        font-size: 12px !important;
        color: #666;
        font-weight: 400 !important;
    }
}

.AdministrativeArea.AppContent{
    padding-right:0;
}
.AdministrativeArea.AppContent .DetailsView > div{

}
.multiselect-holder{
    width:675px;
    margin:0 auto;
    .clearfix();
    label{
        display:block !important;
        float:none !important;
    }
    select{
        display:block;
        width:100%;
        .box-sizing();
        line-height: 150%;
    }
    input[type="button"]{
        display:block !important;
        margin-bottom:15px !important;
        .zButton();
        .symbly(22px);
    }
}
.multiselect-left, .multiselect-right{
    float:left;
    width: 300px;
}
.multiselect-nav{
    float:left;
    padding:0 15px;
    .box-sizing();
    width:75px;
    text-align:center;
    height:75px;
    margin-top:60px;
}

/*TreeListView - usualy first page in each in admin*/
#LanguagesCollectionView,
#CurrenciesCollectionView,
#JobsCollectionView,
.SecurityTreeListView{
    .tableTreeView();
    padding-bottom:10px !important;

    > div{
        padding-bottom:0 !important;
    }

    table{
        tr:first-child{
            th{
                color:#545454;
                text-align:left;
                font-weight: bold !important;
                height: 35px  !important;
                line-height: 35px  !important;
                background: url(../images/table-items-header.png) left top repeat-x;
                padding: 0 0 0 10px !important;
            }
        }
    }

    td.level-0{ padding-left:10px !important;}
    td.level-1{ padding-left:20px !important;}
    td.level-2{ padding-left:30px !important;}
    td.level-3{ padding-left:40px !important;}
    td.level-4{ padding-left:50px !important;}
    td.level-5{ padding-left:60px !important;}
    td.level-6{ padding-left:70px !important;}
    td.level-7{ padding-left:80px !important;}
    td.level-8{ padding-left:90px !important;}
    td.level-9{ padding-left:100px !important;}
    td.level-10{ padding-left:110px !important;}
    td.level-11{ padding-left:120px !important;}
    td.level-12{ padding-left:130px !important;}
    td.level-13{ padding-left:140px !important;}
    td.level-14{ padding-left:150px !important;}
    td.level-15{ padding-left:160px !important;}
    td.level-16{ padding-left:170px !important;}
    td.level-17{ padding-left:180px !important;}
    td.level-18{ padding-left:190px !important;}
    td.level-19{ padding-left:200px !important;}
    td.level-20{ padding-left:210px !important;}
}

/*Jobs*/
#JobsCollectionView{
    .form form{
        padding: 0;
    }
    h3{
        padding-left: 10px;
        margin-top: 30px;
        margin-bottom:10px;
    }
    .jobs-help{
        margin:10px 0 10px 10px;
        display: block;
    }
    tr:last-child{
        td{
            border-bottom:1px solid #DFDFDF !important;
        }
    }
    a{
        background:@themeColor;
        padding:1px 4px;
        .radius(2px);
        color:#fff;
        &:hover{
            color:#fff !important;
            text-decoration:underline;
        }
    }
    table{
        border-top:1px solid #DFDFDF;
        &:first-child{
            border-top:none;
        }
    }
}

/*Languages*/
#LanguagesCollectionView{
    form{
        padding:0;
    }
    .view-toolbar-container{
        border-top:1px solid #CCCCCC;
        margin-bottom:5px;
    }
}

/*Currency*/
#currency-collection-form{
    padding-bottom: 10px;
    .portlet-toolbar{
        position: relative;
        top:auto;
        left:auto;
        right:auto;
        .form-toolbar();
    }
    .view-toolbar-container{
        border-top:1px solid #CCCCCC;
        margin-bottom:5px;
    }
}
#CurrenciesCollectionView{
    .form form{
        padding: 0;
    }
}
#CurrencyCreateView{
    margin:0;
    padding:0;
    border:none;
    .b-shadow(none);
    background:none;
}


/*Breadcrumbs*/
.breadcrumbs{
    padding:0 0 15px 0;
    font-size:11px;
    a{
        color: @themeColor !important;
    }
}

/*designer*/
.ModuleEditView{
    #edit-form{
        label{
            text-align: left;
        }
    }
}
.multi-select-checkbox-input{
    .clearfix;
    width:100%;
    display:block;
    margin-top:10px;
    .hasCheckBox{
        margin:-6px 10px 0 0 !important;
    }
    label{
        margin:0 !important;
    }
}
.has-lang-label{
    input{
        position: relative;
        padding-left:80px;
    }
    input + span{
        background:url(../images/lang-label.png) left top no-repeat;
        position: relative;
        top:-25px;
        left:1px;
        line-height:24px;
        float:left;
        width:80px;
        text-align:center;
        border-right:1px solid #cccccc;
        .t-shadow( rgba(255, 255, 255, 0.8) 0px 1px);
    }
}
