@-webkit-keyframes growDialog {
	0%   { -webkit-transform:scale(0, 0); opacity:0 }
	100% { -webkit-transform:scale(1, 1); opacity:1 }
}
@-moz-keyframes growDialog {
	0%   { -moz-transform:scale(0, 0); opacity:0 }
	100% { -moz-transform:scale(1, 1); opacity:1 }
}
@-o-keyframes growDialog {
	0%   { -o-transform:scale(0, 0); opacity:0 }
	100% { -o-transform:scale(1, 1); opacity:1 }
}
@-ms-keyframes growDialog {
	0%   { -ms-transform:scale(0, 0); opacity:0 }
	100% { -ms-transform:scale(1, 1); opacity:1 }
}
@keyframes growDialog {
	0%   { transform:scale(0, 0); opacity:0 }
	100% { transform:scale(1, 1); opacity:1 }
}

@-webkit-keyframes throb {
	50%   { -webkit-box-shadow:0 0 15px 2px #7cb830; box-shadow:0 0 15px 2px #7cb830; }
}
@-moz-keyframes throb {
	50%   { -moz-box-shadow:0 0 15px 2px #7cb830; }
}
@-o-keyframes throb {
	50%   { -o-box-shadow:0 0 15px 2px #7cb830; }
}
@-ms-keyframes throb {
	50%   { -ms-box-shadow:0 0 15px 2px #7cb830; }
}
@keyframes throb {
	50%   { box-shadow:0 0 15px 2px #7cb830; }
}

@font-face {
	font-family: 'zurmo_gamification_symbly_rRg';
	src: url('../fonts/zurmogamificationsymblyregular-regular-webfont.eot');
	src: url('../fonts/zurmogamificationsymblyregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/zurmogamificationsymblyregular-regular-webfont.woff') format('woff'),
	     url('../fonts/zurmogamificationsymblyregular-regular-webfont.ttf') format('truetype'),
	     url('../fonts/zurmogamificationsymblyregular-regular-webfont.svg#zurmo_gamification_symbly_rRg') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+00-FFFF; /*http://www.tamasoft.co.jp/en/general-info/unicode.html*/
}


@-webkit-keyframes slideCollectionUp {
	100% { -webkit-transform:translate(0, -50%); }
}

@-webkit-keyframes spinCoin {
	100% { -webkit-transform:rotateY(360deg); }
}