/*Target only Mozilla/Gecko Browsers*/
@-moz-document url-prefix() {
	.form{
	    input[type="text"],
	    input[type="password"],
	    select.multiple,
	    textarea{
	        height:26px;
	    }
	}
	 input[type="submit"],
	 input[type="button"]{
	 	height:26px;
	 }
}


/*Target only Explorer*/
/*ALl input fields*/
.form{
    input[type="text"],
    input[type="password"],
    select.multiple,
    textarea{
        height:26px;
    }
}
input[type="submit"],
input[type="button"]{
	height:26px;
}

/*Top Right Create New Menu*/
#ShortcutsMenu > li > a {
	.reset-filter();
}

/*Calendar with dates*/
.calendar-events-1,
.calendar-events-2,
.calendar-events-3,
.calendar-events-4,
.calendar-events-5,
.calendar-events-6{
	span{
		font-size:38px !important;
		letter-spacing: -25px !important;
		:before{
			top:10px !important;
		}
	}
}
/*
.ui-datepicker-calendar,
.ui-datepicker{
	border-collapse:separate;
	td{
		.reset-filter();
		background:#f5f5f5 url(../images/datepicker-sprite-ie.png) left top repeat-x !important;
		&.ui-datepicker-other-month{
			.reset-filter();
			background:#f5f5f5 url(../images/datepicker-sprite-ie.png) left bottom repeat-x !important;
		}
	}
}*/