/* Uncomment this to see wireframes. */
/*div
{
    border-color: red;
    border-style: solid;
    border-width: 1px;
}*/

/* Begin Template Classes */
.zurmo-logo
{
    width: 170px;
    height: 53px;
    background-image: url(../images/ZurmoLogo.png);
}

.performance-info
{
    margin-top: -7px;
    font-size: 0.75em;
    text-align: center;
    color: #CCCCCC;
}

.xhtml-validation-info
{
    font-size: 0.75em;
    text-align: center;
    color: #CCCCCC;
    margin-bottom: 7px;
}

#MainLogo
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#LoginLogo
{
    margin-bottom: 20px;
    margin-left: 85px;
}

#InstallLogo
{
    margin-bottom: 20px;
    margin-left: 15px;
}

#HeaderView
{
    margin-bottom: 10px;
    margin-top: 10px;
}

#HeaderView li:first-child
{
    background-image: none;
}

#HeaderView ul
{
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0px;
}

#HeaderView li
{
    display: inline;
    padding-left: 20px;
}

#HeaderView li
{
    background-image: url(../images/SeparatorDot.png);
    background-repeat: no-repeat;
}

#FooterView
{
    font-size: 0.75em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#ErrorPageView, #LoginPageView, #UnsupportedBrowserPageView, #InstallAccessFailurePageView
{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#InstallPageView
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}


#ErrorView, #LoginView, #UnsupportedBrowserView, #InstallView, #InstallAccessFailureView
{
    margin-top: 50px;
}

#ErrorView div#Logo, #UnsupportedBrowserView div#Logo, #InstallAccessFailurePageView div#Logo
{
    margin-bottom: 20px;
}

#ErrorView div, #UnsupportedBrowserView div, #InstallAccessFailureView div
{
    color: darkred;
}

#LoginView div.form
{
    padding-left: 80px;
}
/* End Template Classes */
/* Begin form Styling */
.MetadataView
{
    text-align: left;
}

.MetadataView table
{
    background: #F6F6F6;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2px;
}

.MetadataView table th
{
    background: #EEE;
    text-align: left;
}

.MetadataView table th, .MetadataView table td
{
    border: 1px solid #DDD;
    vertical-align:top;
}

.MetadataView .view-toolbar
{
    border-top: 1px solid #DDD;
    margin: 0px 0px 5px;
    padding: 3px;
}

.MetadataView a:link, .MetadataView a:visited
{
    text-decoration: underline;
}

.MetadataView table td label
{
    text-align: left;
}

.DashboardView .view-toolbar
{
    border-top: 1px solid #DDD;
    text-align:right;
    margin: 0px;
    padding: 1px;
}

.MassEditView .col-checkbox
{
    width:20px;
}

.ModalConfigEditView .modal-view-toolbar
{
    margin: 0px 0px 5px;
    padding: 3px;
}

.panelTitle
{
    font-weight:bold;
    margin-bottom: 3px;
}
/* End form Styling */

.horizontal-line {
    border-top: 1px solid #DDD;
    margin: 0px 0px 5px;
    padding: 3px;
}

.MetadataView .latest-activity-feed
{
    clear: both;
}

.MetadataView .latest-activity-feed a
{
    color: #555;
    text-decoration: none;
}

.MetadataView .latest-activity-feed a:hover
{
    text-decoration: underline;
}

/*
Latest activity toolbar.
*/
div.latest-activity-toolbar .ui-button-text
{
    font-size: .75em;
}

div.latest-activity-rollup
{
    float: right;
}

div.latest-activity-view-type
{
    clear:both;
    padding-top:5px;
    float: left;
}

/*
File upload progress bar
*/
div.multiple-file-upload .file_upload_progress .ui-progressbar-value {
  background: url(../images/pbar-ani.gif);
}

/*
Import module styles
*/
div.mapping-rules
{
    white-space: nowrap;
}

div.mapping-rules table th
{
    text-align: right;
    width: 20%;
}

div.wide.form div.mapping-rules table th label
{
    margin-right: 2px;
    padding-top: 2px;
    float: right;
}

div.mapping-rules table td
{
    width: 80%;
}

div.mapping-rules table th, div.mapping-rules table td
{
    margin-top: 0;
    padding-top: 0;
    padding-right: 2px;
    border: 0;
    background-color: transparent;
}

div.import-previous-page-link
{
    float:left;
}

div.import-next-page-link
{
    float:right;
}