/*.juiportlet-columns .juiportlet-column {
	float: left;
	min-height: 400px;
	height: auto !important;
	height: 400px;
}

.juiportlet-widget-column1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.juiportlet-widget-column2 {
	padding: 0;
	padding: 0;
	list-style: none;
}

.juiportlet-column-split-even-2 {
	width: 50%;
}

.juiportlet-column-no-split {
	width: 100%;
}

.juiportlet-column-split-left-75 {
	width: 65%;
}

.juiportlet-column-split-right-25 {
	width: 35%;
}

.juiportlet-columns .juiportlet-widget {
	min-width:265px;
	margin: 0px 20px 20px 0px;
	padding: 0;
	border:1px solid #CCC;
	background: #FFF url(../images/portlet-gradient.png) left bottom repeat-x;
	-webkit-box-shadow:  0 0 9px 5px rgba(153, 153, 153, 0.12);
}

.juiportlet-columns .juiportlet-widget h3 {
}

.juiportlet-columns .juiportlet-widget .juiportlet-widget-head {
	overflow: hidden;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: url(../images/portlet-header-gradient.png) left 1px repeat-x;
}

.juiportlet-columns .juiportlet-widget .juiportlet-widget-head h3 {
	float: left;
}

.juiportlet-columns .juiportlet-widget .juiportlet-widget-content {
}

.juiportlet-widget-head{
	border-bottom:1px solid #CCC;
	background:#fff;
	cursor: move;
}

.juiportlet-widget-head a.remove {
	float: right;
	display: inline;
	background: url(../images/portlet-trash.png) 0 50% no-repeat;
	width: 13px;
	height: 40px;
	margin-right:8px;
	text-indent: -9999em;
	outline: none;
}

.juiportlet-widget-head a.edit {
	float: right;
	display: inline;
	background: url(../images/portlet-gear.png) 0 50% no-repeat;
	width: 14px;
	height: 40px;
	text-indent: -9999em;
	margin-right:8px;
	outline: none;
}

.juiportlet-widget-head a.collapse {
	float: left;
	display: inline;
	background: url(../images/portlet-minimize.png) 14px 50% no-repeat;
	width: 14px;
	height: 40px;
	text-indent: -9999em;
	margin:0 8px;
	outline: none;
}
.juiportlet-widget-placeholder {
	border: 2px dashed #262877;
}

.juiportlet-widget-placeholder {
	margin: 20px 20px 20px 2px;
}

.juiportlet-widget-content{
	padding:10px 0;
}

.juiportlet-widget-content li{
	padding:10px 15px;
	border-bottom:1px solid #dfdfdf;
	list-style: none;
}

.juiportlet-widget-content li:last-child{
	border-bottom:none;
	padding-bottom:0;
}

.juiportlet-widget-content .summary,
.juiportlet-widget-content .rssHeader{
	padding:0 15px 10px 15px;
}

.juiportlet-widget-content table.items{
	width:100%;
	border-right:none;
	border-left:none;
	border-bottom:none;
}
.juiportlet-widget-content table.items tbody tr:last-child td{
	border-bottom:none;
	padding-bottom:0;
}*/